<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to 'Home', root_path, class: "nav-link #{active?(root_path)}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Time Entries', posts_path, class: "nav-link #{active?(posts_path)}" %>
  </li>
  <% if policy(AuditLog).index? %>
  <li class="nav-item">
    <%= link_to 'Audit Logs', audit_logs_path, class: "nav-link #{active?(audit_logs_path)}" %>
  </li>
  <% end %>
  <li class="nav-item">
    <%= link_to 'New Entry', new_post_path, class: "nav-link #{active?(new_post_path)}" %>
  </li>
  <li class="nav-item ms-auto">
    <div class="dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Settings
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><%= link_to full_name, admin_user_path(current_user), class: 'dropdown-item' %></li>
        <li><hr class="dropdown-divider"></li>
        <% if admin? %>
        <li><%= link_to 'Admin Dashboard', admin_root_path, class: 'dropdown-item' %></li>
        <li><hr class="dropdown-divider"></li>
        <% end %>
        <li><%= link_to 'Logout', destroy_user_session_path, class: 'dropdown-item', method: :delete %></li>
      </ul>
    </div>
  </li>
</ul>