<%= form_with model: @post, class: 'row g-3 needs-validation' do |f| %>
  <div class="col-md-9">
    <%= f.label :date, class: 'form-label' %>
    <%= f.date_field :date, class: 'form-control form-control-lg' %>
    <div class="invalid-feedback">
      Please select a date!
    </div>
  </div>
  <div class="col-md-9">
    <%= f.label :rationale, class: 'form-label' %>
    <%= f.text_area :rationale, class: 'form-control form-control-lg', placeholder: 'Text goes here...', rows: 5 %>
    <div class="invalid-feedback">
      Please enter rationale!
    </div>
  </div>
  <div class="form-floating col-md-9">
    <%= f.text_field :user_id, class: 'form-control', placeholder: 'Input here...', disabled: true %>
    <%= f.label :user_id %>
  </div>
  <div class="d-grid gap-2 col-md-9">
    <%= f.submit 'Save', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
