<tr>
  <th scope="row"><%= post.id %></th>
  <td><%= post.overtime_request %></td>
  <td><%= post.date %></td>
  <td><%= post.user.full_name %></td>
  <td><%= truncate(post.rationale) %></td>
  <td><%= post_status_span post.status %></td>
  <td>
    <%= link_to 'Edit', edit_post_path(post), id: "edit_entry_#{post.id}", class: policy(post).update? ? '' : 'disabled' %>
    <%= link_to 'Delete', post_path(post), method: :delete, id: "delete_entry_#{post.id}", data: { confirm: 'Are you sure?' } %>
  </td>
</tr>